{%extends 'layout.html'%}

{%block body%}
	<div class=" text-center">
		<h1>Dashboard <small> {{session['username']}}</small> </h1>
		<a class="btn btn-success" href="{{url_for('articles.add_article')}}">Add Article</a>
		<hr>
		<table class="table table-striped">
			<tr>
				<th>Id</th>
				<th>Title</th>
				<th>Author</th>
				<th>Date</th>
				<th></th>
				<th></th>
			</tr>
			{%for article in articles%}
			<tr>
				<td>{{article.id}}</td>
				<td>{{article.title}}</td>
				<td>{{article.author}}</td>
				<td>{{article.create_date}}</td>
				<td><a href="{{url_for('articles.edit_article', id=article.id)}}" class="btn btn-success pull-right">Edit</td>
				<td>
<form  action="{{url_for('articles.delete_article', id=article.id)}}" method="post">
	<input type="hidden" name="_method" value="DELETE">
	<input type="submit" 	 value="Delete" class="btn btn-danger">
</form>
				</td>
			</tr>
			{%endfor%}
		</table>
	</div>
{%endblock%}
